# EditorConfig https://EditorConfig.org

# Default config to use for all files unless overridden
[*]
charset = utf-8
# @note(jon): purposefully _not_ setting end_of_line, so everyone can have an OS-native experience
# @note(jon): purposefully _not_ setting indent_size, so everyone can have their preferences
# since we're using tabs, this is simply a display setting
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# Use windows native line endings for *.bat files
[*.bat]
end_of_line = crlf

# Use linux native line endings for *.sh files
[*.sh]
end_of_line = lf

# Use mac native line endings for *.command files
[*.command]
end_of_line = cr
